<app-header></app-header>

<div class="text-center mt-4">
  <div>
    <h4>Welcome to User Screen!</h4>
  </div>

  <div>
    <h6>Welcome to Angular Ngrx Crash Course</h6>
  </div>
  <% if(isStore){%><button class="btn btn-primary" (click)="onClickAddUser()">Add User</button><%}%>
</div>

<% if(isStore){%>
<table class="table mt-3" style="text-align:center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <span style="margin-right: 15px;">
          <button  class="btn btn-primary" (click)="EditUser(user)"> Edit</button>
        </span>
        <span>
          <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div 
  tabindex="-1" 
  role="dialog" 
  class="modal fade pr-0" 
  aria-hidden="true" 
  id="addUser_modal" 
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content dialog_content">
      <div class="modal-body mdl_body">
        <app-add-user-modal [data]="data" (closeEvent)="closeModal()"></app-add-user-modal>
      </div>
    </div>
  </div>
</div><%}%>

