<app-header></app-header>

<div class="text-center mt-4">
  <div>
    <h4>Welcome to Users Screen</h4>
  </div>

  <% if(isCrud || isCrudWithNode){%><app-button [name]="'Add User'" [class]="'btn btn-primary'" (onClick)="onClickAddUser()"></app-button><%}%>
</div>

<% if(isCrudWithNode){%>
<app-table [usersData]="users" [handleEditDeleteAction]="handleUserActions" [headers]="headers" [shouldShowActions]="shouldShowActions"></app-table>
<%}%>

<% if(isCrud){%>
<app-table [usersData]="users$ | async" [handleEditDeleteAction]="handleUserActions" [headers]="headers" [shouldShowActions]="shouldShowActions"></app-table>
<%}%>

<% if(isCrud || isCrudWithNode){%>
<div
  tabindex="-1"
  role="dialog"
  class="modal fade pr-0"
  aria-hidden="true"
  id="addUser_modal"
  data-bs-keyboard="false"
  data-bs-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content dialog_content">
      <div class="modal-body mdl_body">
        <app-add-user-modal [data]="data" (closeEvent)="closeModal()"></app-add-user-modal>
      </div>
    </div>
  </div>
</div>
<%}%>
