test
src/StateManagement/reduxTemplates/userform/Adduser.js
src/Frameworks/BackendFrameworks/node-js/controllers/controller.js
src/Frameworks/BackendFrameworks/node-js/index.js
src/Frameworks/BackendFrameworks/node-js/routes/index.js
src/Frameworks/BackendFrameworks/node-js/routes/route.js
src/Frameworks/TestCasesFrameworks/CypressTests/TestScripts/cypress/e2e/app.cy.js
src/Frameworks/TestCasesFrameworks/JestTests/TestScripts/app.spec.js
src/Frameworks/WebFrameworks/react/src/App.js
src/Frameworks/WebFrameworks/react/src/components/bootstrap/organisms/NavBar.js
src/Frameworks/WebFrameworks/react/src/components/material/organisms/NavBar.js
src/Frameworks/WebFrameworks/react/src/components/tailwind/organisms/NavBar.js
src/Frameworks/WebFrameworks/react/src/index.js
src/Frameworks/WebFrameworks/react/src/screens/Users/Users.js
src/Frameworks/WebFrameworks/react/src/screens/Users/index.js
src/Frameworks/WebFrameworks/vue/babel.config.js
src/Frameworks/WebFrameworks/vue/src/main.js
src/Frameworks/WebFrameworks/vue/src/router/index.js
src/Generators/RouteGenerator/mongooseTemplates/route.controller.js
src/Generators/RouteGenerator/mongooseTemplates/route.routes.js
src/Generators/RouteGenerator/postgresTemplates/route.controllers.js
src/Generators/RouteGenerator/postgresTemplates/route.routes.js
src/Generators/ScreenGenerator/screenTemplates/screen.js
src/Providers/ThemeProviders/react-themes/theme.js
src/Services/AuthenticationServices/authTemplates/react-spa.js
src/Services/DatabaseServices/sequelize.js
src/StateManagement/reduxTemplates/userform/AddUserForm.js
src/StateManagement/reduxTemplates/userform/DeleteConfirmationModal.js
src/StateManagement/reduxTemplates/usersModal/ShowDetails.js
src/StateManagement/reduxTemplates/usersModal/index.js
src/StateManagement/reduxTemplates/widgets/modal/Modal.js
src/StateManagement/vuexTemplates/store/modules/users.js
src/Generators/ScreenGenerator/screenTemplates/index.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/Button.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/Datepicker.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/File.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/Input.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/Label.js
src/Frameworks/CSSFrameworks/React/bootstrap/atoms/Select.js
src/Frameworks/CSSFrameworks/React/bootstrap/molecules/InputGroup.js
src/Frameworks/CSSFrameworks/React/bootstrap/organisms/Modal.js
src/Frameworks/CSSFrameworks/React/bootstrap/organisms/NavBar.js
src/Frameworks/CSSFrameworks/React/bootstrap/organisms/Table.js
src/Frameworks/CSSFrameworks/React/material/atoms/Button.js
src/Frameworks/CSSFrameworks/React/material/atoms/Checkbox.js
src/Frameworks/CSSFrameworks/React/material/atoms/Datepicker.js
src/Frameworks/CSSFrameworks/React/material/atoms/File.js
src/Frameworks/CSSFrameworks/React/material/atoms/Input.js
src/Frameworks/CSSFrameworks/React/material/atoms/Label.js
src/Frameworks/CSSFrameworks/React/material/atoms/Select.js
src/Frameworks/CSSFrameworks/React/material/molecules/InputGroup.js
src/Frameworks/CSSFrameworks/React/material/organisms/Modal.js
src/Frameworks/CSSFrameworks/React/material/organisms/NavBar.js
src/Frameworks/CSSFrameworks/React/material/organisms/Table.js
src/Frameworks/CSSFrameworks/React/tailwind/atoms/Datepicker.js
src/Frameworks/CSSFrameworks/React/tailwind/atoms/File.js
src/Frameworks/CSSFrameworks/React/tailwind/molecules/InputGroup.js
src/Frameworks/CSSFrameworks/React/tailwind/organisms/NavBar.js
