
/* To-DO: isDark will updated once done in 'index.js:35' */
<% if(isDark){%>
@import "./angular-themes/dark-theme.css";
:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543FD7;
  --dark-background-color: #212A2E;
  --dark-text-color: #F7F8F8;
  --dark-link-color: #828FFF;
}<%}%>
