.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
	/* our light-mode / default theme variable values */
	--primaryTextColor: black;
	--primaryBackgroundColor: floralWhite;
	--headingTextColor: #1d1717;
	--secondaryBackgroundColor: floralWhite;
}
<% if(isTheme) { %>
html.dark {
	--primaryTextColor: floralWhite;
	--primaryBackgroundColor: #1d1717;
	--headingTextColor: floralWhite;
	--secondaryBackgroundColor: #1d1717;
}
<% } %>
body {
	background: var(--secondaryBackgroundColor);
	color: var(--headingTextColor);
}
.navbar {
	border: 1px solid #434343 !important;
}
.navbar-brand {
	color: var(--headingTextColor) !important;
	font-weight: bold;
}
.modal-content {
	background: var(--secondaryBackgroundColor);
	color: var(--headingTextColor);
}
.table {
	background: var(--secondaryBackgroundColor);
	color: var(--headingTextColor);
	font-weight: bold;
}

.btn {
	background: var(--secondaryBackgroundColor);
	color: var(--headingTextColor);
}
