/* To-Dos: Needs to figure out '[data-theme='dark']' */
[data-theme='dark'] {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

[data-theme='dark'] .bg-light {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
  box-shadow: 1px 1px 5px var(--dark-text-color);
}

[data-theme='dark'] .navbar .container .navbar-brand {
  color: var(--dark-text-color) !important;
}

[data-theme='dark'] .navbar-nav .nav-link {
  color: var(--dark-text-color);
}

/* Table styling */
[data-theme='dark'] .table {
  color: var(--dark-text-color);
}

/* Modal styling */
[data-theme='dark'] .modal-content {
  background-color: var(--dark-background-color);
}

[data-theme='dark'] .btn .close-icon {
  color: var(--dark-text-color);
}

[data-theme='dark'] .auth-btn-group .btn {
  color: var(--dark-text-color);
  border: 1px solid var(--dark-text-color);
}

[data-theme='dark'] .navbar-toggler {
  border: var(--bs-border-width) solid var(--dark-text-color);
}

[data-theme='dark'] .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

[data-theme='dark'] .btn-close {
  filter: brightness(0) invert(1);
}
