<% if(isBootstrap){%>
<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand">Made in India</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/users'" routerLinkActive="active">Users</a>
          </li>
        </ul>
        <!-- To-DO: isThemeProvider will updated once done in 'index.js:35' -->
        <% if(isThemeProvider){%>
          <form role="button" [formGroup]="headerForm">
            <div class="me-2">
              <div class="d-flex align-items-center">
                <label class="icon-switcher" data-js-icon-switcher="data-js-icon-switcher" (change)="handleSelection($event)">
                  <input id="themeSelector" class="control" type="checkbox" formControlName="selectedTheme"/>
                  <div class="peg"></div>
                  <div class="bg"></div>
                </label>
              </div>
            </div>
          </form>
        <%}%>
        <% if(isOkta){%>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="profile-icon">
                <span class="position-absolute" *ngIf="name$ | async as name">{{getInitials(name)}}</span>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" *ngIf="name$ | async as name">{{ name }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
                    <span class="" (click)="signIn()"> Sign in</span>
                  </ng-container>
                  <ng-template #signout>
                    <span class="" (click)="signOut()">Sign out</span>
                  </ng-template>
                </a>
              </li>
            </ul>
          </div>
        <%}%>
        <% if(isAuth0){%>
          <div class="auth-btn-group">
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <button class="btn btn-outline-secondary" (click)="auth.logout({ returnTo: logoutURL })">Log out</button>
            </ng-container>
            <ng-template #loggedOut>
              <button class="btn btn-outline-secondary" (click)="auth.loginWithRedirect()">Log in</button>
            </ng-template>
          </div>
        <%}%>
        <%if(isCognito){%>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="profile-icon" ><span class="position-relative">{{getInitials(authenticator.user.username )}}</span></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item text-capitalize" href="#" >{{ authenticator.user.username }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <ng-container *ngIf="!!authenticator.user">
                  <span (click)="authenticator.signOut()">Sign Out</span>
                </ng-container>
              </a>
            </li>
          </ul>
        </div>
        <%}%>
      </div>
    </div>
  </nav>
</div>
<%}%>

<% if(isTailWind){%>
<div>
  <nav class="bg-light relative flex flex-wrap items-center justify-between px-2 py-2">
    <div class="container px-2 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-2 lg:static lg:block lg:justify-start">
        <a class="text-lg font-semibold leading-relaxed inline-block  py-2 whitespace-nowrap"  [routerLink]="'/'" routerLinkActive="active">
          Made in India
        </a>
        <button class="text-grey cursor-pointer text-xl leading-none px-3 py-1 border border-solid-grey-500 border rounded block lg:hidden focus:outline-none" type="button" (click)="toggleNavbar()">
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class=" lg:flex lg:flex-grow content-center ">
        <div class=" lg:flex lg:flex-grow  ">
          <ul class="flex items-center flex-col lg:flex-row list-none ml-2 ">
            <li class="nav-item">
              <a class="px-2 py-2 flex items-center  hover:opacity-75 "  [routerLink]="'/'" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="px-2 py-2 flex items-center leading-snug  hover:opacity-75" [routerLink]="'/users'" routerLinkActive="active">Users</a>
            </li>
          </ul>
        </div>
        <% if(isThemeProvider){%>
        <div class="flex items-center">
          <form role="button" [formGroup]="headerForm">
            <div>
              <label
                class="icon-switcher"
                data-js-icon-switcher="data-js-icon-switcher"
                (change)="handleSelection($event)">
                <input
                  id="themeSelector"
                  class="control"
                  type="checkbox"
                  formControlName="selectedTheme" />
                <div class="peg"></div>
                <div class="bg"></div>
              </label>
            </div>
          </form>
        </div>
        <%}%>
        <% if(isOkta){%>
        <div>
          <div class="dropdown inline-block relative">
            <button class="text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1">
                <span class="profile-icon">
                  <span class="absolute" *ngIf="name$ | async as name">
                    {{ getInitials(name) }}
                  </span>
                </span>
              </span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1" role="button">
              <li>
                <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"  *ngIf="name$ | async as name">
                  {{ name }}
                </a>
              </li>
              <li>
                <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" >
                  <ng-container
                    *ngIf="(isAuthenticated$ | async) === false; else signout">
                    <span (click)="signIn()"> Sign in</span>
                  </ng-container>
                  <ng-template #signout>
                    <span (click)="signOut()">Sign out</span>
                  </ng-template>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <%}%>
        <% if(isAuth0){%>
          <div class="pl-2 auth-btn-group">
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="auth.logout({ returnTo: logoutURL })">Log out</button>
            </ng-container>
            <ng-template #loggedOut>
              <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="auth.loginWithRedirect()">Log in</button>
            </ng-template>
          </div>
        <%}%>
        <%if(isCognito){%>
        <div>
          <div class="dropdown inline-block relative">
            <button class="text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1">
                <span class="profile-icon">
                  <span class="absolute">
                    {{ getInitials(authenticator.user.username) }}
                  </span>
                </span>
              </span>
              <svg class="fill-current h-4 w-4 down-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1" role="button">
              <li>
                <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-2 block whitespace-no-wrap capitalize">
                  {{ authenticator.user.username }}
                </a>
              </li>
              <li>
                <a class="bg-gray-200 hover:bg-gray-400 py-2 px-2 block whitespace-no-wrap" >
                  <ng-container *ngIf="!!authenticator.user">
                    <span (click)="authenticator.signOut()">Sign Out</span>
                  </ng-container>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </nav>
</div>
<%}%>

<% if(isMaterialUI){%>
<div class=".down-arrow bg-light" style="width: 100%">
  <mat-toolbar style="width: 100%">
    <span class="brand">
      <a class="a-link" [routerLink]="'/'" routerLinkActive="active">
        Made in India
      </a>
    </span>

    <span class="nav-item">
      <a class="a-link" [routerLink]="'/'" routerLinkActive="active">Home</a>
    </span>
    <span class="nav-item">
      <a class="a-link" [routerLink]="'/users'" routerLinkActive="active">
        Users
      </a>
    </span>
    <span class="spacer"> </span>
    <% if(isThemeProvider){%>
    <span style="margin-right: 10px">
      <div class="flex items-center">
        <form role="button" [formGroup]="headerForm">
          <div>
            <label
              class="icon-switcher"
              data-js-icon-switcher="data-js-icon-switcher"
              (change)="handleSelection($event)">
              <input
                id="themeSelector"
                class="control"
                type="checkbox"
                formControlName="selectedTheme" />
              <div class="peg"></div>
              <div class="bg"></div>
            </label>
          </div>
        </form>
      </div>
    </span>
    <%}%>
    <% if(isOkta){%>
      <button mat-button class="account-button" [matMenuTriggerFor]="menu">
        <span class="initials" *ngIf="name$ | async as name">
          <span> {{ getInitials(name) }} </span>
        </span>
        <svg
          class="login-dropdown-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </button>
      <mat-menu
        style="margin-left: 10px; background-color: black" 
        #menu="matMenu"
      >
        <button mat-menu-item *ngIf="name$ | async as name">{{name}}</button>
        <button mat-menu-item (click)="signOut()"> Sign out </button>
      </mat-menu>
    <%}%>
    <% if(isAuth0){%>
      <div>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button mat-raised-button color="warn" (click)="auth.logout({ returnTo: logoutURL })">Log out</button>
        </ng-container>
        <ng-template #loggedOut>
          <button mat-raised-button color="primary" (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template>
      </div>
    <%}%>
    <%if(isCognito){%>
      <button mat-button class="account-button" [matMenuTriggerFor]="menu">
        <span class="initials">
          <span> {{ getInitials(authenticator.user.username) }} </span>
        </span>
        <svg
          class="login-dropdown-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </button>
      <mat-menu
        style="margin-left: 10px; background-color: black" 
        #menu="matMenu"
      >
        <button mat-menu-item> {{ authenticator.user.username }} </button>
        <button mat-menu-item (click)="authenticator.signOut()"> Sign out </button>
      </mat-menu>
    <%}%>  
  </mat-toolbar>
</div>
<%}%>  
