<% if(isTailWind) {%>
@tailwind base;
@tailwind components;
@tailwind utilities;
<%}%>
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<% if(isTailWind) {%>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  <%}%>
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<% if (isNetworkInformer) {%>
  .msg {
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 0.75rem;
  }
  .offline-msg {
    background: #fee8ec !important;
    color: #f51b46 !important;
    border-bottom: 1px solid #f51b46 !important;
  }
  .online-msg {
    background: #d1e7dd !important;
    color: #0f5132 !important;
    border-bottom: 1px solid #17c50e !important;
  }
  .content {
    margin-left: 1rem;
    margin-top: 0.1rem;
  }
  .icon {
    margin-left: 1rem;
    vertical-align: middle;
  }
  .icon img {
    width: 18px;
    height: 18px;
  }
  .icon span {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid #fb9db0;
    border-top: 2px solid #f51b46;
    /* border-bottom: 2px solid #f51b46; */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
<%}%>  
