/* To-DO: isThemeProvider will updated once done in 'index.js:35' */
<% if(isThemeProvider){%>
.icon-switcher {
  width: 50px;
  height: 24px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.icon-switcher > .control {
  display: none;
}
.icon-switcher > .control + .peg {
  display: inline-block;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #999;
  transition: 0.2s;
  background-color: #fff;
}
.icon-switcher > .control ~ .bg {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  background-color: #fff;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.icon-switcher > .control ~ .bg::before {
  content: '';
  position: absolute;
  left: calc(100% - 20px);
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #262626;
  transition: 0.2s ease-out;
}
.icon-switcher > .control ~ .bg::after {
  content: '';
  position: absolute;
  left: calc(100% - 14px);
  top: -1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.2s ease-out;
}
.icon-switcher > .control:checked + .peg {
  left: calc(100% - 24px);
}
.icon-switcher > .control:checked ~ .bg {
  background-color: #262626;
}
.icon-switcher > .control:checked ~ .bg::before {
  left: 6px;
  width: 14px;
  height: 14px;
  background-color: #FFD712;
  filter: blur(4px);
}
.icon-switcher > .control:checked ~ .bg::after {
  background-color: #FFD712;
  width: 12px;
  height: 12px;
  top: initial;
  left: 8px;
}
<%}%>
<% if(isOkta) { %>
.profile-icon {
  padding: 15% 15%;
  border-radius: 50%;
  border: 1px solid black;
}
<%}%>

<% if(isThemeProvider && isTailwindCSS) { %>
.toggle_switch {
  width: 70px;
  height: 45px;
  position: relative;
}

input[type="checkbox"].toggle_check {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: resetRing .35s ease-in-out forwards;
  -webkit-animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].toggle_check:checked + svg.checkbox .outer-ring {
  animation: animateRing .35s ease-in-out forwards;
  -webkit-animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].toggle_check:checked + svg.checkbox .is_checked {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
  -webkit-transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].toggle_check:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  transform: translateX(-200%) rotate(180deg);
  -webkit-transform: translateX(-200%) rotate(180deg);
}

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked {
  opacity: 0;
  fill: yellow;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform: translateX(200%) rotate(45deg);
  -webkit-transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #000;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform: translateX(0) rotate(0deg);
  -webkit-transform: translateX(0) rotate(0deg);
  transition: all .35s;
  -webkit-transition: all .35s;
}

@-webkit-keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@-webkit-keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}
<%}%>

