<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand">Made in India</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/users'" routerLinkActive="active">User</a>
          </li>
        </ul>
        <% if(isDark){%>
          <form class="d-flex  align-items-center" role="button" [formGroup]="headerForm">
            <div class="menu me-2">
              <div class="icon">
                <label class="icon-switcher" data-js-icon-switcher="data-js-icon-switcher" (change)="handleSelection($event)">
                  <input id="themeSelector" class="control" type="checkbox" formControlName="selectedTheme"/>
                  <div class="peg"></div>
                  <div class="bg"></div>
                </label>
              </div>
            </div>
          </form>
        <%}%>
        <% if(isOkta){%>
          <div class="auth-btn-group">
            <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
              <button class="btn btn-outline-secondary"  (click)="signIn()"> Sign in </button>
            </ng-container>
            <ng-template #signout>
              <button class="btn btn-outline-secondary"  (click)="signOut()">Sign out</button>
            </ng-template>
          </div>
        <%}%>
      </div>
    </div>
  </nav>
</div>
