<% if(!isTailwindCSS){%>
<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand">Made in India</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/users'" routerLinkActive="active">User</a>
          </li>
        </ul>
        <!-- To-DO: isThemeProvider will updated once done in 'index.js:35' -->
        <% if(isThemeProvider){%>
          <form class="d-flex align-items-center" role="button" [formGroup]="headerForm">
            <div class="menu me-2">
              <div class="icon">
                <label class="icon-switcher" data-js-icon-switcher="data-js-icon-switcher" (change)="handleSelection($event)">
                  <input id="themeSelector" class="control" type="checkbox" formControlName="selectedTheme"/>
                  <div class="peg"></div>
                  <div class="bg"></div>
                </label>
              </div>
            </div>
          </form>
        <%}%>
        <% if(isOkta){%>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="profile-icon" *ngIf="name$ | async as name">{{getInitials(name)}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="#" *ngIf="name$ | async as name">{{ name }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
                    <span class="" (click)="signIn()"> Sign in</span>
                  </ng-container>
                  <ng-template #signout>
                    <span class="" (click)="signOut()">Sign out</span>
                  </ng-template>
                </a>
              </li>
            </ul>
          </div>
        <%}%>
        <% if(isAuth0){%>
          <div class="auth-btn-group">
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <button class="btn btn-outline-secondary" (click)="auth.logout({ returnTo: logoutURL })">Log out</button>
            </ng-container>
            <ng-template #loggedOut>
              <button class="btn btn-outline-secondary" (click)="auth.loginWithRedirect()">Log in</button>
            </ng-template>
          </div>
        <%}%>
      </div>
    </div>
  </nav>
</div>
<%}%>

<% if(isTailwindCSS){%>
<div>
  <nav class="bg-transparent relative flex flex-wrap items-center justify-between px-2 py-2">
    <div class="container px-2 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-2 lg:static lg:block lg:justify-start">
        <a class="text-lg font-semibold leading-relaxed inline-block  py-2 whitespace-nowrap"  [routerLink]="'/'" routerLinkActive="active">
          Made in India
        </a>
        <button class="text-grey cursor-pointer text-xl leading-none px-3 py-1 border border-solid-grey-500 border rounded block lg:hidden focus:outline-none" type="button" (click)="toggleNavbar()"> 
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class=" lg:flex lg:flex-grow content-center ">
        <div class=" lg:flex lg:flex-grow  ">
          <ul class="flex flex-col lg:flex-row list-none ml-2 ">
            <li class="nav-item">
              <a class="px-2 py-2 flex items-center  hover:opacity-75 "  [routerLink]="'/'" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="px-2 py-2 flex items-center leading-snug  hover:opacity-75" [routerLink]="'/users'" routerLinkActive="active">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<%}%>
