<% if(!isTailwindCSS){%>
<div class="users-modal" *ngIf="!shouldDeleteUser">
  <div class="d-flex justify-content-between">
    <div class="users-modal-title fs-3 fw-bold mb-3">
      {{ userActionLabel + ' User' }} 
    </div>
    <div>
      <app-button [class]="'btn-close'" (onClick)="closeModalRef()"></app-button>
    </div>
  </div>

  <form [formGroup]="createUserForm">
    <div class="form-group mb-3">
      <app-label [for]="'name'" [class]="'fw-bolder'" [name]="'Name'"></app-label>
      <app-input 
        [registerForm]="createUserForm" 
        [name]="'name'" 
        [type]="'text'" 
        [id]="'name'" 
        [class]="'form-control'" >
      </app-input>
    </div>

    <div class="form-group mb-3">
      <app-label [for]="'username'" [class]="'fw-bolder'" [name]="'Username'"></app-label>
      <app-input 
        [registerForm]="createUserForm" 
        [name]="'username'" 
        [type]="'text'" 
        [id]="'username'" 
        [class]="'form-control'" >
      </app-input>
    </div>

    <div class="form-group mb-3">
      <app-label [for]="'emailAddress'" [class]="'fw-bolder'" [name]="'Email address'"></app-label>
      <app-input 
        [registerForm]="createUserForm" 
        [name]="'email'" 
        [type]="'text'" 
        [id]="'email'" 
        [class]="'form-control'">
      </app-input>
    </div>
    
    <div class="d-grid">
      <app-button [name]="userActionLabel" [class]="'btn btn-primary w-100'" type="'submit'" (onClick)="onSubmit()"></app-button>
    </div>
  </form>
</div>

<div class="users-modal" *ngIf="shouldDeleteUser">
  <div class="d-flex justify-content-between">
    <div class="users-modal-title fs-3 fw-bold mb-3">
      Delete User? 
    </div>
    <div>
      <app-button [class]="'btn-close'" (onClick)="closeModalRef()"></app-button>
    </div>
  </div>
  <div>
    Are you sure you want to delete <strong>{{data?.name}}</strong>?
  </div>
  <div class="d-flex justify-content-end mt-3">
    <app-button [name]="'Confirm'" [class]="'btn btn-danger'" (onClick)="deleteUserRef(data)"></app-button>
  </div>
</div>
<%}%>

<% if(isTailwindCSS){%>
<div class="users-modal" *ngIf="!shouldDeleteUser">
  <div  class=" py-2 px-2 lg:px-2">
      <app-button [name]="'X'" [class]="'absolute bg-transparent text-2xl font-semibold leading-none right-3 top-0 mt-4 ml-0 outline-none focus:outline-none'" (onClick)="closeModalRef()">
      </app-button>
  </div>
  <div>
    <div class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
      {{ userActionLabel + ' User' }} 
    </div>
    <form [formGroup]="createUserForm">
      <div>
        <app-label [for]="'name'" [class]="'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'" [name]="'Name'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'name'" 
          [type]="'text'" 
          [id]="'name'" 
          [class]="'border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'" >
        </app-input>
      </div>
      <br>
      <div>
        <app-label [for]="'username'" [class]="'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'" [name]="'Username'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'username'" 
          [type]="'text'" 
          [id]="'username'" 
          [class]="' border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'" >
        </app-input>
      </div>
      <br>
      <div>
        <app-label [for]="'emailAddress'" [class]="'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'" [name]="'Email address'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'email'" 
          [type]="'text'" 
          [id]="'email'" 
          [class]="' border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'">
        </app-input>
      </div>
      <br>
      <div>
        <app-button [name]="userActionLabel" [class]="'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'" type="'submit'" (onClick)="onSubmit()"></app-button>
      </div>
    </form>
  </div>
</div>

<div class="users-modal" *ngIf="shouldDeleteUser">
  <div class="flex justify-between items-start rounded-t">
    <div class="users-modal-title fs-3 fw-bold mb-3">
      Delete User? 
    </div>
    <div>
      <app-button [class]="'btn-close'" (onClick)="closeModalRef()"></app-button>
    </div>
  </div>
  <div>
    Are you sure you want to delete <strong>{{data?.name}}</strong>?
  </div>
  <div class="grid justify-items-end mt-3">
    <app-button [name]="'Confirm'" [class]="'btn btn-danger'" (onClick)="deleteUserRef(data)"></app-button>
  </div>
</div>
<%}%>
