<div class="users-modal">
  <div class="d-flex justify-content-between">
    <div class="users-modal-title fs-3 fw-bold mb-3">
      {{ actionBtnText + ' User' }} 
    </div>
    <div>
      <app-button [class]="'btn-close'" (onClick)="closeModlRef()"></app-button>
    </div>
  </div>

  <form [formGroup]="registerForm">
    <div class="form-group mb-3">
      <app-label [for]="'name'" [class]="'fw-bolder'" [name]="'Name'"></app-label>
      <app-input 
        [registerForm]="registerForm" 
        [name]="'name'" 
        [type]="'text'" 
        [id]="'name'" 
        [class]="'form-control'" >
      </app-input>
    </div>

    <div class="form-group mb-3">
      <app-label [for]="'username'" [class]="'fw-bolder'" [name]="'Username'"></app-label>
      <app-input 
        [registerForm]="registerForm" 
        [name]="'username'" 
        [type]="'text'" 
        [id]="'username'" 
        [class]="'form-control'" >
      </app-input>
    </div>

    <div class="form-group mb-3">
      <app-label [for]="'emailAddress'" [class]="'fw-bolder'" [name]="'Email address'"></app-label>
      <app-input 
        [registerForm]="registerForm" 
        [name]="'email'" 
        [type]="'text'" 
        [id]="'email'" 
        [class]="'form-control'">
      </app-input>
    </div>
    
    <div class="d-grid">
      <app-button [name]="actionBtnText" [class]="'btn btn-primary w-100'" type="'submit'" (onClick)="onSubmit()"></app-button>
    </div>
  </form>
</div>
