<table class="table mt-3" style="text-align:center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <app-button [name]="'Edit'" [class]="'btn btn-primary btn-space'" (onClick)="open(editusermodal,user)">
        </app-button>
        <app-button [name]="'Delete'" [class]="'btn btn-danger btn-space'" (onClick)="deleteuser(user.id)"></app-button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #editusermodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="mb-3">
          <app-label [name]="'Name'"></app-label>
          <app-input [type]="'text'" [class]="'form-control'" [value]="userTobeEdited.name"
            (changevalue)="checkupdate('name',$event)"></app-input>
        </div>
        <div class="mb-3">
          <app-label [name]="'Username'"></app-label>
          <app-input [type]="'text'" [class]="'form-control'" [value]="userTobeEdited.username"
            (changevalue)="checkupdate('username',$event)"></app-input>
        </div>
        <div class="mb-3">
          <app-label [name]="'Email'"></app-label>
          <app-input [type]="'email'" [class]="'form-control'" [value]="userTobeEdited.email"
            (changevalue)="checkupdate('email',$event)"></app-input>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <app-button [name]="'Edit'" [class]="'btn btn-primary'" (onClick)="modal.close(edituser())"></app-button>
    </div>
  </div>
</ng-template>
