.full-width-table {
    width: 100%;
  }
  table tbody tr td {
    text-align: center;
    border-bottom: 2px solid #a1a0a0;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  table tbody tr td span {
    margin-left: 5px;
    margin-right: 5px;
  }
  table tbody tr {
    margin-top: 20px;
  }
  table thead tr th {
    border-bottom: 2px solid #a1a0a0;
  }
  tbody {
    margin: 5px;
  }
  .trow {
    border: solid 3px;
    border-color: black;
    border-spacing: 3px;
    border-top: 3px;
  }
  .actioncell {
    max-width: 50px;
  }
