<% if(isBootstrap){%>
  <div class="users-modal" *ngIf="!shouldDeleteUser">
    <div class="d-flex justify-content-between">
      <div class="users-modal-title fs-3 fw-bold mb-3">
        {{ userActionLabel + ' User' }} 
      </div>
      <div>
        <app-button [class]="'btn-close'" (onClick)="closeModalRef()"></app-button>
      </div>
    </div>
  
    <form [formGroup]="createUserForm">
      <div class="form-group mb-3">
        <app-label [for]="'name'" [class]="'fw-bolder'" [name]="'Name'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'name'" 
          [type]="'text'" 
          [id]="'name'" 
          [class]="'form-control'" >
        </app-input>
      </div>
  
      <div class="form-group mb-3">
        <app-label [for]="'username'" [class]="'fw-bolder'" [name]="'Username'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'username'" 
          [type]="'text'" 
          [id]="'username'" 
          [class]="'form-control'" >
        </app-input>
      </div>
  
      <div class="form-group mb-3">
        <app-label [for]="'emailAddress'" [class]="'fw-bolder'" [name]="'Email address'"></app-label>
        <app-input 
          [registerForm]="createUserForm" 
          [name]="'email'" 
          [type]="'text'" 
          [id]="'email'" 
          [class]="'form-control'">
        </app-input>
      </div>
      
      <div class="d-grid">
        <app-button 
          [name]="userActionLabel" 
          [class]="'btn btn-primary w-100'" 
          type="'submit'" 
          (onClick)="onSubmit()"
          [disabledBtn]="shouldDisableButton()"
        >
        </app-button>
      </div>
    </form>
  </div>
  
  <div class="users-modal" *ngIf="shouldDeleteUser">
    <div class="d-flex justify-content-between">
      <div class="users-modal-title fs-3 fw-bold mb-3">
        Delete User? 
      </div>
      <div>
        <app-button [class]="'btn-close'" (onClick)="closeModalRef()"></app-button>
      </div>
    </div>
    <div>
      Are you sure you want to delete <strong>{{data?.name}}</strong>?
    </div>
    <div class="d-flex justify-content-end mt-3">
      <app-button [name]="'Confirm'" [class]="'btn btn-danger'" (onClick)="deleteUserRef(data)"></app-button>
    </div>
  </div>
  <%}%>
  
  <% if(isTailWind){%>
  <div class="users-modal" *ngIf="!shouldDeleteUser" style="width: 30vw;">
    <div class="flex mb-3 justify-between">
      <h2 class="text-3xl font-bold text-gray-900 label-white">
        {{ userActionLabel + ' User' }}
      </h2>
      <span
        (click)="closeModalRef()"
        class="add-closebutton hover: cursor-pointer"
        data-modal-toggle="defaultModal">
        <svg
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </span>
    </div>
    <div>
      <form [formGroup]="createUserForm">
        <div>
          <app-label [for]="'name'" [class]="'block text-sm font-bold text-gray-900 dark:text-gray-300 label-white'" [name]="'Name'"></app-label>
          <app-input 
            [registerForm]="createUserForm" 
            [name]="'name'" 
            [type]="'text'" 
            [id]="'name'" 
            [class]="'border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'" >
          </app-input>
        </div>
        <br>
        <div>
          <app-label [for]="'username'" [class]="'block text-sm font-bold text-gray-900 dark:text-gray-300 label-white'" [name]="'Username'"></app-label>
          <app-input 
            [registerForm]="createUserForm" 
            [name]="'username'" 
            [type]="'text'" 
            [id]="'username'" 
            [class]="' border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'" >
          </app-input>
        </div>
        <br>
        <div>
          <app-label [for]="'emailAddress'" [class]="'block text-sm font-bold text-gray-900 dark:text-gray-300 label-white'" [name]="'Email address'"></app-label>
          <app-input 
            [registerForm]="createUserForm" 
            [name]="'email'" 
            [type]="'text'" 
            [id]="'email'" 
            [class]="' border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'">
          </app-input>
        </div>
        <br>
        <div>
          <app-button 
            [name]="userActionLabel" 
            [class]="'text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'" 
            type="'submit'" 
            (onClick)="onSubmit()"
            [disabledBtn]="shouldDisableButton()"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="users-modal" *ngIf="shouldDeleteUser" style="width: 30vw;">
    <div class="py-2">
      <div class="flex justify-between">
        <h3 class="text-3xl font-bold text-gray-900 dark:text-white label-white">
          Delete User?
        </h3>
        <span
          (click)="closeModalRef()"
          class="delete-closebutton hover: cursor-pointer"
          data-modal-toggle="defaultModal">
          <svg
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd">
            </path>
          </svg>
        </span>
      </div>
    </div>
    <div>
      Are you sure you want to delete <strong>{{data?.name}}</strong>?
    </div>
    <div class="grid justify-items-end mt-3">
      <app-button [name]="'Confirm'" [class]="'rounded-lg border-lg bg-red-500 hover:bg-red-600 text-white p-2'" (onClick)="deleteUserRef(data)"></app-button>
    </div>
  </div>
  <%}%>

  <% if(isMaterialUI){%>
    <div class="modalroot">
      <div class="mat-users-modal" *ngIf="!shouldDeleteUser">
        <div>
          <div class="add-modalhead">
            <div style="float: left; font-size: 27px;">
              {{ userActionLabel + ' User' }}
            </div>
            <span
              (click)="closeModalRef()"
              class="add-closebutton"
              data-modal-toggle="defaultModal">
              <svg
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div>
            <form class="mt-10" [formGroup]="createUserForm">
              <div>
                <app-label [for]="'name'" [name]="'Name'"> </app-label>
                <app-input
                  [registerForm]="createUserForm"
                  [name]="'name'"
                  [type]="'text'"
                  [id]="'name'"
                  [class]="'input-class'">
                </app-input>
              </div>
              <br />
              <div>
                <app-label [for]="'username'" [name]="'Username'"> </app-label>
                <app-input
                  [registerForm]="createUserForm"
                  [name]="'username'"
                  [type]="'text'"
                  [id]="'username'"
                  [class]="'input-class'">
                </app-input>
              </div>
              <br />
              <div>
                <app-label
                  [for]="'emailAddress'"
                  [name]="'Email address'"></app-label>
                <app-input
                  [registerForm]="createUserForm"
                  [name]="'email'"
                  [type]="'text'"
                  [id]="'email'"
                  [class]="'input-class'">
                </app-input>
              </div>
              <br />
              <div id="add-modal-button">
                <app-button
                  [name]="userActionLabel"
                  [color]="'primary'"
                  [class]="'add-button'"
                  type="'submit'"
                  (onClick)="onSubmit()"
                  [disabledBtn]="shouldDisableButton()"
                >
                </app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    
      <div class="mat-users-modal" *ngIf="shouldDeleteUser">
        <div style="margin: 5px">
          <div class="deleteheader">
            <div style="float: left; font-size: 27px;">
              Delete User?
            </div>
            <div style="float: right; padding: 0" >
              <span
              (click)="closeModalRef()"
              class="delete-closebutton"
              data-modal-toggle="defaultModal">
              <svg
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="delete-body">
          <div
            style="
              text-align: left;
              font-size: 17px;
              margin-top: 30px;
            ">
            Are you sure you want to delete <strong>{{ data?.name }} </strong>?
          </div>
          <div
            style="
              text-align: right;
              margin: 10px;
              margin-top: 25px;
            ">
            <app-button
              [name]="'Confirm'"
              [color]="'warn'"
              [class]="''"
              (onClick)="deleteUserRef(data)"></app-button>
          </div>
        </div>
      </div>
    </div>
  <%}%>
