app-label {
  float: left;
  font-weight: 400;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}
.add-button button {
  width: 100%;
}
.modalroot {
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-closebutton, .delete-closebutton {
  float: right;
  border: none;
  height: 20px;
  width: 20px;
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.add-modalhead {
  display: inline-block;
  width: 100%;
  height: 40px;
}

.users-modal {
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
}
#add-modal-button{
  border-radius: 6px;
  background-color: white;
  margin-top: 15px;
}
.mat-users-modal {
  width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f6f6f6;
  margin: auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #888;
}

.deleteheader {
  display: inline-block;
  width: 100%;
  height: 20px;
}

.delete-body {
  height: 90px;
}
