app-label {
  float: left;
  font-weight: 500;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}
.add-button button {
  width: 100%;
}
.modalroot {
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-closebutton, .delete-closebutton {
  float: right;
  border: none;
  height: 20px;
  width: 20px;
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.add-modalhead, .deleteheader {
  display: inline-block;
  width: 100%;
  font-weight: 700;
}

.users-modal {
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
}
#add-modal-button {
  margin-top: 15px;
}
.mat-users-modal {
  width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #888;
}

.mt-10 {
  margin-top: 10px;
}

.deleteheader button {
  border: none;
  background-color: transparent;
}

::ng-deep .mat-raised-button:disabled {
  background-color: blue !important;
  color: white !important;
  cursor: not-allowed;
}
