# Node artifact files
node_modules/
dist/
build/
public/

# Ignore these files:
package-lock.json
yarn-error.log
.gitignore
README.md
yarn.lock
.prettierignore
*.svg
*.ico
*.html
*.png
.env
*.txt
*.yml
.dockerignore
Dockerfile
