# This workflow will do a clean installation of node dependencies, cache/restore them and run tests across different versions of node.

name: Mocha Test Cases CI

on:
  push:
    branches: [ "365/refactor-test-cases-functionality-in-tavajs" ]
  # pull_request:
  #   branches: [ "develop" ]

jobs:
  mocha-test-cases:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: "16.14.x"

      - run: npm install
      - run: npm run test
