# This workflow will do a clean installation of node dependencies, cache/restore them and run tests across different versions of node.

name: Mocha Test Cases CI

on:
  push:
    branches: [ "228/angular-test-case" ]
  # pull_request:
  #   branches: [ "228/automate-qa-of-tavajs-latest" ]

jobs:
  mocha-test-cases:

    runs-on: ubuntu-latest

   

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: "16.14.x"
 
    - run: npm install
    - run: npm run test
